body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profileImg {
  aspect-ratio: 1;
  width: 50vmin;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
  margin-bottom: 2rem rem;
}

.track {
  font-size: 20px;
}

.day {
  font-weight: 700;
  font-size: 20px;
}
